html {
	box-sizing: border-box;

	--color-primary: #36393f;
	--color-secondary: white;

	font-family: sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: var(--color-primary);
	color: var(--color-secondary);
}

.bft-edit-form {
	display: none !important;
}

a,
a:visited {
	color: inherit;
	text-decoration: underline;
}

.top-bar {
	display: flex;
	justify-content: space-between;
}
