/*========Main========*/
html {
	box-sizing: border-box;

	background: #36393f;
	color: #fff8e7;
}

/*========Pokemon========*/
.inputs {
	display: flex;
	align-items: center;
	gap: 10px;
}

textarea {
	resize: vertical;
}

.normalType {
	background: #a8a878;
	border-color: #6d6d4e;
	color: black;
}

.fireType {
	background: #f08030;
	border-color: #9c531f;
	color: black;
}

.fightingType {
	background: #c03028;
	border-color: #7d1f1a;
}

.waterType {
	background: #6890f0;
	border-color: #445e9c;
	color: black;
}

.flyingType {
	background: #a890f0;
	border-color: #6d5e9c;
	color: black;
}

.grassType {
	background: #78c850;
	border-color: #4e8234;
	color: black;
}

.poisonType {
	background: #a040a0;
	border-color: #682a68;
}

.electricType {
	background: #f8d030;
	border-color: #a1871f;
	color: black;
}

.groundType {
	background: #e0c068;
	border-color: #927d44;
	color: black;
}

.psychicType {
	background: #f85888;
	border-color: #a13959;
	color: black;
}

.rockType {
	background: #b8a038;
	border-color: #786824;
	color: black;
}

.iceType {
	background: #98d8d8;
	border-color: #638d8d;
	color: black;
}

.bugType {
	background: #a8b820;
	border-color: #6d7815;
	color: black;
}

.dragonType {
	background: #7038f8;
	border-color: #4924a1;
}

.ghostType {
	background: #705898;
	border-color: #493963;
}

.darkType {
	background: #705848;
	border-color: #49392f;
}

.steelType {
	background: #b8b8d0;
	border-color: #787887;
	color: black;
}

.fairyType {
	background: #ee99ac;
	border-color: #9b6470;
	color: black;
}

.grid {
	display: flex;
}

table {
	border-collapse: collapse;
}

th {
	border: 1px solid white;
	padding: 5px;
}

thead th {
	position: relative;
}

thead th h3 {
	margin-top: 15px;
}

span {
	border: 2px solid;
	padding: 3px;
}

h3 {
	margin: 0;
}

.types {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

img {
	max-height: 100px;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
}

.immune {
	background: #787878;
}

.quarter {
	background: green;
	font-weight: bold;
}

.half {
	color: lime;
}

.double {
	color: red;
}

.quadruple {
	background: red;
	font-weight: bold;
}

.weaknesses {
	background: #e9d6e5;
	color: black;
}

.resistances {
	background: #cff0e5;
	color: black;
}

.one.weaknesses {
	background: #ecbecc;
}

.two.weaknesses {
	background: #f197a1;
}

.three.weaknesses {
	background: #de3033;
	color: #ff0;
	font-weight: bold;
}

.one.resistances {
	background: #b9f1cc;
}

.two.resistances {
	background: #9fdfad;
}

.three.resistances {
	background: #56ae66;
	color: #fff;
	font-weight: bold;
}

/*========Time========*/
.timeWrap span {
	border: none;
}

label h2,
.output {
	display: inline-block;
	margin: 0;
}

label h2 {
	width: 180px;
	text-align: center;
}

.twoTZs {
	display: grid;
	grid-template-areas:
		"date 		.		. 		.		."
		"fromLabel 	from	. 		toLabel to"
		".			.		.		.		."
		". 			. 		convert .		."
		".			.		.		.		."
		"output 	output 	output 	output 	output ";
	gap: 5px;
}

#fromInput {
	grid-area: from;
}

#toInput {
	grid-area: to;
}

.fromLabel {
	grid-area: fromLabel;
}

.toLabel {
	grid-area: toLabel;
}

#_twoTZs {
	grid-area: convert;
	width: 100px;
	text-align: center;
}

.output {
	grid-area: output;
}

.dateTime {
	display: flex;
	gap: 5px;
}
