/*========Main========*/
html {
	box-sizing: border-box;

	background: #36393f;
	color: #fff8e7;

	font-family: sans-serif;
}

.wrapper {
	max-width: 75vw;
	margin: auto;
}

h2 {
	text-align: center;
	margin: 15px 0 5px 0;
}

h3 {
	margin: 3px;
	text-align: center;
}

h4 {
	font-size: 105%;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
}

hr {
	width: 65%;
}

/*========Header========*/

header {
	display: flex;
	justify-content: space-evenly;
}

header div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*========Civ Body========*/
#main {
	display: flex;
	justify-content: space-evenly;
}

.uniques {
	width: 100%;
}

.unique {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.u-icon {
	max-width: 45px;
	max-height: 45px;
}

.icon-outer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-img {
	max-width: 116px;
	max-height: 116px;
}

.u-header {
	display: flex;
	align-items: center;
	gap: 3px;
}

.ability-text {
	text-align: justify;
	font-style: italic;
	margin: 0;
}

/*========Civ========*/
#civ {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 270px;
}

#civ-img-outer {
	width: 130px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#civ-img {
	max-width: 100%;
	max-height: 100%;
}

#civ img {
	margin: 5px 0;
}

.clr {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 4px;
}

.clr div {
	width: 100%;
	height: 25px;
}

.clr p {
	text-align: center;
	margin: 1px;
}

/*========Leader========*/
#leader {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 270px;
}

#lifespan {
	margin-bottom: 5px;
}
