html {
	box-sizing: border-box;

	--color-primary: #36393f;
	--color-secondary: white;

	--color-male: #3355ff;
	--color-female: #ff6060;

	font-family: sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: var(--color-primary);
	color: var(--color-secondary);
}

img {
	max-height: 40vh;
}

th,
td {
	border: 1px solid white;
	padding: 10px 3px;
}

table {
	border-collapse: collapse;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.f {
	background: pink;
}

.m {
	background: rgb(127, 157, 255);
}

.x {
	background: gray;
}

td {
	text-align: center;
}

.placeholder {
	opacity: 0.45;
}

[title] {
	text-decoration: underline dotted;
}

th {
	background: rgba(54, 57, 63, 0.5);
	position: sticky;
	top: 0; /* Don't forget this, required for the stickiness */
}
