img {
	max-width: 40vw;
	max-height: 40vh;
}

.wrapper {
	display: flex;
	gap: 10px;
}

header {
	display: flex;
	/* justify-content: space-between; */
	align-items: flex-start;
}

#map {
	height: 98vh;
	width: 73vw;
	z-index: 1;
	position: relative;
}

#pie {
	margin-bottom: 15px;
}

.modal {
	position: fixed;
	top: 50vh;
	z-index: 2;

	color: black;

	display: none;

	/* background: rgba(255, 255, 255, 0.5); */
	background: white;
}

.modal,
.modal * {
	scrollbar-width: thin;
}

.modal h2 {
	margin: 5px;
}

.modal button {
	cursor: pointer;
}

#modalP {
	left: 33%;
	max-height: 45vh;
}

#modalT {
	/* top: 25vh; */
	left: 15vw;
	max-height: 50vh;
	overflow: auto;
	width: 800px;
}

.modal-content {
	max-height: 40vh;
	overflow: auto;
}

.problemes-annee {
	max-height: 35vh;
	overflow: auto;
}

.left {
	flex-direction: column;
}

.arborescence {
	overflow: auto;
	max-height: 70vh;
}

.arborescence h2,
.arborescence h3,
.arborescence h4,
.arborescence li {
	cursor: pointer;
}

.info {
	width: 45vw;
	height: 40vh;
	background: white;
}

@media only screen and (max-width: 1000px) {
	.wrapper {
		display: unset;
	}

	#map {
		width: 90%;
		margin: auto;
	}

	#modalT {
		width: 650px;
	}
}
